$gutter: 8px;
$border-color: darkgrey;

.card {
  display: flex;
  padding: $gutter;
  border: 1px solid transparent;
  border-radius: 3px;
  margin-bottom: $gutter;
  box-shadow: $border-color 1px 1px 3px;

  .card-thumbnail {
    align-self: center;
    flex-shrink: 0;
    width: 50px;
  }

  .card-body {
    margin-left: $gutter;
    border-left: 1px solid $border-color;
    padding-left: $gutter;

    .card-header {
      font-weight: bold;
    }

    .card-description {
      margin-bottom: 0;
    }
  }
}
