$language-color: lightgray;

.github-repo.card {
  .card-thumbnail {
    img {
      border-radius: 3px;
    }
  }

  .card-body {
    .repo-language {
      border-radius: 3px;
      font-size: x-small;
      padding: 2px 4px;
      background: $language-color;
    }

    .card-description {
      .gh-emoji {
        width: 20px;
      }
    }
  }
}
