$gutter: 8px;
$border-color: darkgrey;

.github-repo-card {
  display: flex;
  padding: $gutter;
  border: 1px solid transparent;
  border-radius: 3px;
  max-width: 500px;
  margin-bottom: $gutter;
  box-shadow: $border-color 1px 1px 3px;

  .owner-avatar {
    align-self: center;
    flex-shrink: 0;
    display: inline-block;
    margin-right: $gutter;

    img {
      border-radius: 3px;
      width: 50px;
    }
  }

  .repo-details {
    border-left: 1px solid $border-color;
    padding-left: $gutter;

    .repo-name {
      font-weight: bold;
    }

    .repo-language {
      border-radius: 3px;
      font-size: x-small;
      padding: 2px 4px;
      background: lightgray;
    }

    .repo-description {
      margin-bottom: 0;

      .gh-emoji {
        width: 20px;
      }
    }
  }
}
