.mini-footer {
  background: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;

  .mini-footer-container {
    padding: 0 $spacing-unit / 2;
  }

  @include media-query($on-palm) {
    font-size: 12px;
  }
}
